/* https://speckyboy.com/open-source-carousel-sliders-css/ */
/* https://chrome.google.com/webstore/detail/caret/fljalecfjciodhpcledpamjachpmelml?hl=en */
/* <form action="https://formspree.io/your@email.com" method="POST" />
/* the styles for the elements */
* {
    text-decoration-color: red;
	margin: 0;
	padding: 0;
}
html {
    background-image: url(../pics/Background.jpg);
}
#logo{
    z-index: 2;
    position: absolute;
    margin-top: 1%;
    margin-left: 0.3%;
}
#icons{
    z-index: 2;
    position: absolute;
    margin-top: 12%;
    margin-left: 0%;
    padding: 20px;
}
#menu{
    position: absolute;
    margin-top: 22%;
    margin-left: 56%;
    width: 33%;
    border: 10px solid; /* Gray border */
    border-color: darkred;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
}
#Map{
    position: absolute;
    margin-top: 65%;
    margin-left: 20%;
}
table {
    border-collapse: collapse;
    width: 100%;
}
h2 {
    padding: 4px;
}

th, td {
    text-align: left;
    padding: 8px;
    border-style: double;
}
th {
    text-decoration: underline;
}

.StoreFront{
    z-index: 1;
    position: absolute;
    margin-top: 0%;
    margin-left: 0%;
    width: 100%;
}
#video{
    position: absolute;
     margin-left: 69%;
    margin-top: 40%;
}
footer{
    position: absolute;
    margin-left: 0%;
    margin-top: 90%;
    width: 100%;
    border: 10px solid; /* Gray border */
    border-color: darkred;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
}
.carousel {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: visible;
  /*box-shadow: 0 2px 6px rgba(0,0,0,0.3);*/
  margin-left: 3.2%;
  margin-top: 15%;
  }
.carousel:hover .slide:after,
.carousel:hover .counter,
.carousel:hover .slide:before {
  opacity: 1;
}
.carousel:hover .slide:after,
.carousel:hover .counter,
.carousel:hover .slide:before {
  opacity: 1;
}
/* HELP!!!!!!!!!!!!!!*/
.slide {
  float: right;
  position: absolute;
  z-index: 1;
  width: 600px;
  height: 400px;
  /*background-color: #eee;*/
  text-align: center;
  transition: opacity 0.4s;
  opacity: 1;
}
.slide:before {
  content: attr(annot);
  display: block;
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: rgba(220,44,12,0.9);
  font-size: 14px;
  font-weight: 300;
  z-index: 12;
  opacity: 0;
  transition: opacity 0.3s;
  text-shadow: 0 0 1px #000;
}
.slide:after {
  content: attr(slide);
  display: block;
  position: absolute;
  bottom: 0;
  transition: opacity 0.3s;
  width: 100%;
  height: 80px;
  opacity: 0;
  /*background-image: linear-gradient(transparent, rgba(0,0,0,0.5));*/
  text-align: left;
  text-indent: 549px;
  line-height: 101px;
  font-size: 13px;
  color: rgba(220,44,12,0.9);
  text-shadow: 0 0 1px #000;
}
.counter {
  position: absolute;
  bottom: 20px;
  right: 1px;
  height: 20px;
  width: 60px;
  z-index: 2;
  text-align: center;
  color: #fff;
  line-height: 21px;
  font-size: 13px;
  opacity: 0;
  transition: opacity 0.3s;
}
.faux-ui-facia {
  top: 0;
  right: 0;
  float: right;
  position: absolute;
  margin-top: 0;
  z-index: 9;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.faux-ui-facia:checked {
  z-index: 8;
}
.faux-ui-facia:checked + .slide {
  opacity: 0;
}
.faux-ui-facia:checked:nth-child(1):checked {
  z-index: 9;
}
.faux-ui-facia:nth-child(1):checked {
  float: left;
  z-index: 9;
}
.faux-ui-facia:nth-child(1):checked + .slide {
  opacity: 1;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia {
  float: left;
  z-index: 8;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia + .slide {
  opacity: 0;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked {
  z-index: 9;
}
.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked + .slide {
  opacity: 1;
}
/* the styles for the header */
#header { 

}
header h2 {
	font-size: 175%;
	color: #800000;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
	padding: 0 30px;
}

/* the styles for the main content */
main {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 30%;  /* changed from 800 pixels */
    margin-left: 5%;
    margin-top: 42%;
    border: 10px solid; /* Gray border */
    border-color: darkred;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
}
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  width: 25%;
  position: absolute;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 62%;
  margin-left: 68%;
}
#vetsAd{
    position: absolute;
    margin-top: 44%;
    margin-left: 44%;
}
/* the styles for the section */

